<h1>Log in!</h1>

<%= form_for(@user, url: sessions_path) do |f| %>
  <% if f.object.errors.any? %>
  <ul>
    <% if f.object.errors.each do |message| %>
    <li><b><%= message  %> is required</b></li>
    <% end %>
  </ul>
  <% end %>
<% end %> 

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label 'Enter Your Password' %><br>
  <%= f.password_field :password %><br>
  <br>
  <%= f.submit 'Log in' %>

<% end %>