<%= javascript_include_tag "new_activity" %>

<div id="top-wrapper">
  <div class="avatar-container">
    <% if @user.avatar == nil  %>
      <% r = 1 %>
      <%= image_tag "avatars/1.png", class: 'avatar', data: r %>
      <button id="ava">Save avatar!</button>
    <% else %>
      <%= image_tag "avatars/#{@user.avatar}.png", class: 'avatar', data: @user.avatar %>
    <% end %>    
  </div>

  <div id="profile-block">
    City: <%= @user.city %><br>
    Age: <%= @user.age %><br>
    Weight: <%= @user.weight %><br>
    <br>

    <%= link_to 'Add an activity',  new_entry_path, class: "new_activity", id: @user.id %><br>
    <%= link_to 'Enter a challenge', new_user_challenge_path(@user) %><br>
    <%= link_to 'Edit profile', edit_user_path(@user) %><br>
    <% if @user.admin %>
    <%= link_to 'Admin Pannel', '/users' %><br>
    <% end %>
    <%= link_to 'Log out', logout_path %><br>
  </div>

  <div id="new-form"
  </div>

  
</div>

<div id="user-wrapper">
  <div id="history">
    <h2>Exercise History</h2>
    <table id="user-history" class="user_timeline table table-hover">
      <thead>
        <th style="text-align: left;">Activity</th>
        <th style="text-align: right;">Calories Burned</th>
        <th style="text-align: right;">Workout Date</th>
        <th style="text-align: right;">Delete?</th>
      </thead>
      <tbody id="table-body">
      <% @user.activity_entries.reverse.each do |act| %>
      <tr id="activity-table">
        <td class="name" style="text-align: left;"><%= link_to "#{act.name}", "/activity_datum/#{act.activity_datum_id}" %></td>
        <td class="calories" style="text-align: right;"><%= act.calories_burned %></td>
        <td class="created_at" style="text-align: right;"><%= act.created_at.strftime("%m/%d/%Y") %></td>
        <td style="text-align: right;"><%= link_to 'Delete', "/users/#{@user.id}/activity_entries/#{act.id}/destroy" %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  
</div>

