<%= form_for @challenge do |f| %>
    <% if f.object.errors.any? %>
      <ul>
        <% if f.object.errors.each do |message| %>
        <li><b><%= message  %> is required</b></li>
        <% end %>
      </ul>
      <% end %>
    <% end %> 
    <%= f.label "Challenge Name" %><br>
    <%= f.text_field :name %><br>
    <%= f.label :rules %><br>
    <%= f.text_area :rules %><br>
    <%= f.label "Challenge start date and time" %><br>
    <%= f.datetime_field :start_date %><br>
    <%= f.label "Challenge end date and time" %><br>
    <%= f.datetime_field :end_date%><br><br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
    <% end  %>