<h1>Challenge yourself!</h1>
<br>
<br>

<br>
<br>
<br>
<br>
<table class="table table-hover" style="width: 800px; position: relative; bottom: 100px;">
  <thead>
    <th style="text-align: left;">Active Challenges </th>
    <th style="text-align: right;">Start Date</th>
    <th style="text-align: right;">End Date</th>
  </thead>
  <tbody>
    <% @challenges.started(Date.today).reverse.each do |challenge| %>
      <tr>
        <td style="text-align: left;"><%= link_to challenge.name, challenge_path(challenge) %></td>
        <td style="text-align: right;"><%= challenge.start_date.strftime("%m/%d/%Y") %></td>
        <td style="text-align: right;"><%= challenge.end_date.strftime("%m/%d/%Y") %></td>
      </tr>
      <br>
  <% end %>
  </tbody>
</table>

<%= link_to "Create new challenge",  new_user_challenge_path %>
<%= link_to "See your profile", user_path(@user), class: 'btn btn-success new_c_btn' %>
