<h2> Challenge: <%= @challenge.name %></h2>

<h3>The Rules:</h3>
<p style="font-size: 18px;"><%= @challenge.rules %></p>

<div style="display: inline-block;
    background: #eeeeee;
    border-radius: 9px;
    padding: 14px 15px 6px 19px;
    margin-top: 18px;
    margin-bottom: 10px;">
  <p><span style="font-weight: 700">Start Date:</span> <%= @challenge.start_date.strftime("%m/%d/%Y") %></p>
  <p><span style="font-weight: 700">End Date:</span> <%= @challenge.end_date.strftime("%m/%d/%Y") %></p>
</div>



<br>
<%= link_to "See your challenges", user_challenges_path(@user), class: 'btn btn-success new_c_btn' %>
<%= link_to "See your profile", user_path(@user), class: 'btn btn-success new_c_btn' %>
<br>
<br>